@import "reset";

div .terminal, .terminal-scroll {
  width: 30em;
  border:1px solid #888;
}

div .terminal-scroll {
  height: 24em;
  position: relative;
  overflow: auto;
}

h1 {
  color:#D8DDAA;
  border-bottom-color:#c2c797;
  border-top-color:#c2c797;
  margin-top:1em;
  margin-bottom:1em;
  padding-top:1em;
  padding-bottom:1em;
}

h2 {
  color:#C2C797;
  border-bottom-color:#c2c797;
}

h3 {
  color:#c2c797;
}

span {
  color:#C2C797;
}

#chighlight {
  background:#700;
}

pre {
  overflow: auto;
  padding: .1em;
  margin: 0px;
}

code {
  color:#888;
  font-size:.6em;
  font-family: droid sans mono dotted, monospace;
}

blockquote {
  font-size:2em;
  font-style:italic;
  padding:1em 2em;
  color:#000;
  border-left:5px solid #ccc;

  p {
    margin:0;
  }

  cite {
    font-size:.5em;
    font-style:normal;
    font-weight:bold;
    color:#888;
  }
}

::-moz-selection{ background:#c00; color:#fff; }
::selection { background:#c00; color:#fff; }

a {
  &, &:hover, &:focus, &:active, &:visited {
    color:#8F9557;
    text-decoration:underline;
  }

  &:hover, &:focus {
    text-decoration:underline;
  }
}

.deck-container {
  font-family: "Droid Sans", sans-serif;
  font-size:1.75em;
  background:#222;

  > .slide {
    padding:0 48px;
  }
}

.slide {
  .deck-before, .deck-previous {

    &:not(.deck-child-current) {
      .deck-before, .deck-previous {
        opacity:1;
      }
    }
  }

  .deck-child-current {
    opacity:1;
  }
}

.deck-prev-link, .deck-next-link {
  background:#ccc;
  font-family:serif;

  &, &:hover, &:focus, &:active, &:visited {
    color:#fff;
  }

  &:hover, &:focus {
    background:#c00;
    text-decoration:none;
  }
}

.deck-status {
  font-size:0.6666em;
}

.deck-menu {
  .slide {
    background:#eee;
  }

  .deck-current, .no-touch & .slide:hover {
    background:#ddf;
  }
}

li, p {
  color:#C2C797;
}

var {
  font-family: droid sans mono dotted;
  color: red;
}
